# Ignore everything
*

# Allow the DIRECTORY itself (crucial step)
!backend/

# Now allow the CONTENTS
!backend/**

# Keep other project files
!flake.lock
!flake.nix
!pyproject.toml
!uv.lock
!src/
!src/**
!.gitignore
!README.md

__pycache__
